@import "var";

body,html{
    margin: 0;
    height: 100vh;
}
body{
    background-color: rgb(238,238,238);
    font-family: 'Poppins','Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: grid;
    // place-items: center;
}
.card{
    padding: 0 5em;
    max-width: 300px;
    border-radius: 5em;

    &__img{
        height: 100px;
        width: 100%;
        object-fit: cover;
    }

    &__content{
        padding: 1.4em;
        background-color: white;
    }

    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    &__item{
        padding: .3em .5em;
        background: rgba(211, 211, 211, 0.5);
        border-radius: .3em;
        font-size: .85em;

        &--active{
            background: rgba(190, 189, 189, 0.7);
            font-weight: bold;
        }
    }

    &__link{
        text-decoration: none;
        color: white;
        background-color: rgb(4, 172, 133);
        padding: .5em 1em;
        border-radius: .5em;
        display: inline-block;
        font-weight: bold;
        margin-top: .5em;

        &:hover{
        // background-color: rgb(5, 177, 177);
        background-color: $bg-color;
            
        }
    }

}